{% extends 'layout/footer.html.twig' %}

{% block footer_main %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">Demoshop. Nothing will be processed or delivered!</p>
            </div>
        </div>
    </div>
{% endblock %}