<?xml version="1.0" encoding="ISO-8859-1"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxextensions">
            <SUBMENU id="mxmodule" cl="module" list="module_list">
                <TAB id="PCP_UPLOAD" cl="PcpConfigUploadController" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <OXMENU id="PCP_ADMIN_TITLE">
        <MAINMENU id="PCP_PROTOCOLS">
            <SUBMENU id="PCP_API_LOG" cl="PcpApiLogMainController" list="PcpApiLogListController">
                <TAB id="PCP_API_LOG" cl="PcpApiLogController" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>