:root {
    --pcp-primary-color: #0096d6;
    --pcp-secondary-color-bright: #87cdec;
    --pcp-secondary-color-dark: #005a80;
    --pcp-tertiary-color-1: #00bcd4;
    --pcp-danger-color: #f50057;
    --pcp-warning-color: #8bc34a;
    --pcp-black-color: #0d0d0d;
    --pcp-bg-color: #fff;
}

body {
    background-color: var(--pcp-bg-color) !important;
}

.usp-list-content {
    padding: 40px 0;
    font-size: 14px;
    line-height: 35px;
    background: var(--pcp-secondary-color-bright) !important;
    color: var(--pcp-black-color) !important;
    margin: 0;
}

.usp-list-content svg {
    fill: var(--pcp-primary-color) !important;
    margin-right: 10px;
}

.pcp-start-primary-color {
    color: var(--pcp-primary-color) !important;
    font-weight: bold;
}

.pcp-start-secondary-color-dark {
    color: var(--pcp-secondary-color-dark) !important;
    font-weight: bold;
}

.pcp-start-black-color {
    color: var(--pcp-black-color) !important;
    font-weight: bold;
}

.btn {
    color: var(--pcp-primary-color) !important;
}

.btn-highlight:hover {
    color: var(--pcp-black-color) !important;
}

.btn-highlight {
    --bs-btn-color: var(--pcp-primary-color) !important;
    --bs-btn-bg: var(--pcp-bg-color) !important;
    --bs-btn-border-color: var(--pcp-primary-color) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pcp-tertiary-color-1) !important;
    --bs-btn-hover-border-color: var(--pcp-primary-color) !important;
    --bs-btn-focus-shadow-rgb: 99, 144, 150;
    --bs-btn-active-color: var(--pcp-black-color) !important;
    --bs-btn-active-bg: var(--pcp-secondary-color-bright) !important;
    --bs-btn-active-border-color: var(--pcp-primary-color) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #487C84;
    --bs-btn-disabled-border-color: #487C84;
}

.btn-primary {
    color: var(--pcp-primary-color) !important;
}

.btn-danger {
    color: var(--pcp-danger-color) !important;
}

.btn-danger:hover {
    color: var(--pcp-danger-color) !important;
}

.btn-warning {
    color: var(--pcp-warning-color) !important;
}

.btn-warning:hover {
    color: var(--pcp-warning-color) !important;
}
.meta svg {
    fill: var(--pcp-primary-color) !important;
    width: 18px;
    height: 18px;
}

.badge {
    background: var(--pcp-secondary-color-bright) !important;
    font-size: 10px;
    border-radius: 50%;
}

.steps .step {
    position: relative;
    padding: 40px 20px 0;
    white-space: nowrap;
    overflow: hidden;
    color: var(--pcp-primary-color) !important;
}

.steps .step.text-muted {
    color: var(--pcp-secondary-color-dark) !important;
}

.steps .step .num {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: var(--pcp-primary-color) !important;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    border-radius: 50%;
    color: var(--pcp-primary-color) !important;
}

.steps .step.done .num {
    border-color: var(--pcp-primary-color) !important;
    background: var(--pcp-secondary-color-bright) !important;
    color: var(--pcp-black-color) !important;
}

.breadcrumb>.active a {
    color: var(--pcp-primary-color) !important;
}

body.cl-details .details-col-right .action-links a {
    color: var(--pcp-primary-color) !important;
    font-size: 12px;
}

body.cl-details #detailsItemsPager .pager-overview-link, body.cl-details #detailsItemsPager .pager-prev, body.cl-details #detailsItemsPager .pager-next, body.cl-details #detailsItemsPager .pager-overview-link a, body.cl-details #detailsItemsPager .pager-prev a, body.cl-details #detailsItemsPager .pager-next a {
    color: var(--pcp-primary-color) !important;
}

.alert-info {
    background-color: var(--pcp-secondary-color-bright) !important;
    border-color: var(--pcp-primary-color) !important;
    color: var(--pcp-secondary-color-dark) !important;
}

#jumptotop {
    position: fixed;
    display: block;
    right: 35px;
    bottom: 40px;
    color: var(--pcp-primary-color) !important;
    font-size: 45px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s,visibility 0s linear .3s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 1000;
}

body.cl-thankyou ol.checkoutSteps li .num, body.is-checkout ol.checkoutSteps li .num {
    border: 2px solid #FFF;
    border-radius: 50%;
    color: var(--pcp-primary-color) !important;
    width: 30px;
    height: 30px;
    padding-top: 1px;
    margin-left: -16px;
    position: absolute;
    top: -16px;
    left: 50%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

body.cl-thankyou ol.checkoutSteps li .num, body.is-checkout ol.checkoutSteps li .num {
    border: 2px solid #FFF;
    border-radius: 50%;
    background-color: var(--pcp-primary-color) !important;
    width: 30px;
    height: 30px;
    padding-top: 1px;
    margin-left: -16px;
    position: absolute;
    top: -16px;
    left: 50%;
    color: #FFF !important;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: var(--pcp-primary-color) !important;
}

#header .minibasket-menu table .badge {
    background-color:var(--pcp-primary-color) !important;
    position: absolute;
    top: 3px;
    right: 3px;
    font-weight: 500;
}

form#pcpinstallment .panel-body>dl {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
}

form#pcpinstallment dd.activeInstallment {
    display: block;
    margin-top: 10px;
}

form#pcpinstallment dd {
    display: none;
}

.pcp-payment-content {
    margin-left: 20px;
    margin-top: 10px;
}