<section class="col-12 col-sm-3 footer-box footer-box-manufacturers">
    <div class="h4 footer-box-title"></div>
    <div class="footer-box-content">
        {% block dd_footer_manufacturerlist_inner %}
            {{ include_widget({ cl: "oxwManufacturerList", _parent: oView.getClassName(), noscript: 1, nocookie: 1 }) }}
        {% endblock %}
    </div>
</section>